body {
	background-color: #e7ecf5;
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
	background-color: rgba(230, 41, 41, 0.753);
	border-radius: 8px;
	margin-left: 5px;
	margin-right: 5px;
}

.nav {
	display: flex;
	justify-content: space-between;
	height: 40px;
	align-items: center;
	padding: 5px;
	font-size: 20px;
	margin-top: 5px;
}

:any-link {
	text-decoration: none;
}

.nav > :any-link {
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav > :any-link:hover {
	color: rgb(0, 124, 185);
}

:any-link:hover {
	color: coral;
}

.search {
	display: flex;
	justify-content: flex-start;
	padding: 5px;
}

input {
	width: 200px;
	height: 30px;
}

.history {
	display: flex;
	flex-direction: column;
	margin: 5px;
}

.search-btn {
	background-color: rgba(230, 41, 41, 0.753);
	padding: 5px;
	color: white;
	width: 60px;
	height: 30px;
	margin: 2px;
	border: none;
}

.search-btn:hover {
	color: rgb(0, 124, 185);
	cursor: pointer;
	width: 65px;
}

.search-term-container {
	display: flex;
	border: 1px solid white;
	justify-content: center;
}

.search-term {
	display: flex;
	justify-content: center;
	margin: 10px;
}

.results-container {
	display: flex;
	flex-direction: column;
	flex-flow: wrap;
	padding: 5px;
}

a {
	color: rgb(0, 124, 185);
}
